	#logo-top {width:50%;}
	.navButton, .financial-info .navButton {font-size:1.2em; margin-left:10%; margin-right:10%; width:80%;}
	#openNavButton {display:block;}
	#nav-top .large-screen-nav {display:none;}
	.newsletters li .navButton {width:80%;}
	.col-left-login {width:100%;}
	.col-left .btn-home {margin-right:0; width:100%;}
	.financial-info {}
	#footer {padding-left:20px; padding-right:20px;}
	.maps .map {width:100%;}
	h2.page-title {font-size:1.8em; margin-right:20px; margin-left:20px;}
