/* ajax search */
	.list-view #sr_map_canvas_wrap {display:none;}
	.list-view #searchResultsTitle {border:0; border-bottom:1px solid #ccc; width:96%;}
	.list-view #sr_Listings {border:0; margin:0; width:100%;}
	
	.gallery-view .sr_result {float:none; margin:0 0 1em; width:100%;}
	.map-view #sr_map_canvas_wrap {height:325px; width:100%;}
	#srListingsTableContainer, #srListingsHeaderTableContainer {display:none;}
	.map-view #listingResults {height:280px; overflow-x:scroll; overflow-y:hidden; white-space:nowrap; width:100%;}
	.map-view #listingResults .sr-listing {float:none; display:inline-block; white-space:normal; width:33%;}
	
	#refineSearchBackground {display:none;}
	#refine_search {float:none; width:auto;}
	#refineSearchOptions {display:none;}
	#refineSearchOptions.active {background:#000; display:block;}
	#refineSearchOptions .rs_subtitle {display:none;}
	#refineSearchOptions #r_prop_type .rs_subtitle {display:none;}
	#refineSearchOptions .rs_subtitle.r_header_section {display:inline-block;}
	#refineSearchOptions .r_section .r_section_input {background:transparent; padding:0; position:static !important; left:auto !important; top:auto !important; display:block !important; opacity:1 !important;}
	#refineSearchOptions .r_section .r_close_item {display:none;}
	#refineSearchOptions .r_section_selections {display:none;}
	#refineSearchOptions #r_sqrft .to, #refineSearchOptions #r_lot_size .to {float:none;}
	#refineSearchOptions #r_sqrft .from, #refineSearchOptions #r_lot_size .from {float:none;}
	
	#r_update {background:#000;}
	
	.search-results-content-wrap {margin:0;}
	
	#rsConsole a {display:none;}
	
	#refineSearch {position:static; width:100%;}
	#toggleRefineSearch {display:none;}
	
	.SearchResultHeader {border:0; }
	.SearchResultHeader span {vertical-align: middle;}
	.resultHeaderSection {background:url("Templates/t700/images/white-highlight-top.png") 0 0 repeat-x #F5F5F5; float:none; border-bottom:1px solid #ccc; border-radius:0; height:auto; margin-bottom:0; padding:5px 10px;}
	.resultHeaderSection.viewTypesHeaderSection {text-align:left; padding: 1em;}
	.resultHeaderSection.listingsAmountHeaderSection {display:none;}
	
	.search-results-navigation-section > span.search-results-paging {top: 0;}
	.search-results-navigation-pagination {
		background: #333;
		background: -moz-linear-gradient(top, #45484D 0%, #333 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484D), color-stop(100%,#333));
		background: -webkit-linear-gradient(top, #45484D 0%,#333 100%);
		background: -o-linear-gradient(top, #45484D 0%,#333 100%);
		background: -ms-linear-gradient(top, #45484D 0%,#333 100%);
		background: linear-gradient(to bottom, #45484D 0%,#333 100%);
		border-bottom:1px solid #000; float:none;
	}
	.sr-pagination-list .sr-pagination-item {
		background: #ffffff;
		background: -moz-linear-gradient(top, #45484D 0%, #333 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484D), color-stop(100%,#333));
		background: -webkit-linear-gradient(top, #45484D 0%,#333 100%);
		background: -o-linear-gradient(top, #45484D 0%,#333 100%);
		background: -ms-linear-gradient(top, #45484D 0%,#333 100%);
		background: linear-gradient(to bottom, #45484D 0%,#333 100%);
		border:1px solid #000; border-radius:5px; padding: 0.45em 0.65em;
	}
	.sr-pagination-list .sr-pagination-item:hover,
	.sr-pagination-list .sr-pagination-item.selected {background-position:0 0; background:#000;}
	
	.rs_subtitle {display:inline-block;}
	#SearchResultsContent {min-height:0; padding:1em;}
	.search-start-point {padding:1em;}
	.search-no-listing-message {padding:1em;}
	
	#more_options_show {display:inline-block;}